*{  font-family: "Roboto", Arial, Helvetica, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    height:80px;
    justify-content: space-between;
    background-color: #222E38;
}
header div{
    margin-left: 25px;
}
header a{    
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 40px;    
    font-weight: 700;
    background-color: #219f94;
    text-decoration: none;
    color: #fff;   
}
.table{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin: 2em 0;
    padding: 1em 2em;;
    width: 100%;
    color: #222E38;
    font-size: 16px;
}
.table tr td{
    font-weight: 400;
    text-align: center;
}

footer{
    width: 100%;
    bottom: 0;
    padding-top: 10px; 
    padding-bottom: 10px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#222E38;
    color: white;
    position: absolute;
}  

footer p{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-left: 40%;
}

.links a img {
    width: 34px;
    margin-right: 10px;
}
.links{
    margin-right: 20px;
}